.o_wevent_index .o_wevent_events_list.opt_event_list_cards_bg {
    background-color: #e9ecef !important;
    color: #212529;
}
.o_wevent_index .o_wevent_events_list .opt_events_list_columns header {
    height: 200px;
}
.o_wevent_index .o_wevent_events_list header a:hover,
.o_wevent_index .o_wevent_events_list header a:focus {
    transform: scale(1.05);
}
.o_wevent_index .o_wevent_events_list header a {
    transition: all .25s ease-in-out;
}
.o_wevent_index .o_wevent_events_list .o_wevent_event_date {
    top: 1.25rem;
    right: 1.25rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    text-align: center;
}
.o_wevent_index .o_wevent_events_list .o_wevent_event_date .o_wevent_event_month {
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
}
.o_wevent_index .o_wevent_events_list .o_wevent_event_date .o_wevent_event_day {
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1;
}
.o_wevent_event .o_wevent_sidebar_block {
    padding: 3rem;
    border-bottom: 1px solid #dee2e6;
}
.o_wevent_event .o_wevent_sidebar_title {
    margin-bottom: 1rem;
    opacity: .5;
    text-transform: uppercase;
}
.o_wevent_event .o_wevent_sidebar_title {
    margin-bottom: 1rem;
    opacity: .5;
    text-transform: uppercase;
}
